<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="25">
    <form fxLayoutAlign="stretch" fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="Vul Gebruikersnaam in" />
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" matInput placeholder="Wachtwoord" />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          matInput
          placeholder="Vul Wachtwoord opnieuw in"
        />
      </mat-form-field>
      <button mat-raised-button type="submit">Registreer</button>
    </form>
  </mat-card>
</div>
