<div class="col-sm-5 col-md-8 col-lg-9 moveLeft319">
    <div class="container py-5">
        <div class="row d-flex align-items-center">
            <div class="col col-md-9 col-lg-7 col-xl-5">
                <div class="card borderRadiusProfile">
                    <div class="card-body moveUp100">
                        <div class="d-flex text-black">
                            <div class="flex-shrink-0">
                                <img [src]="user.base64Image || './assets/img/default-profile-image.png'"
                                    alt="profile picture" class="img-fluid" style="width: 120px; border-radius: 10px;">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h5 class="mb-1">{{user.userName}}</h5>
                                <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                                    style="background-color: #efefef;">
                                    <div>
                                        <p class="small text-muted mb-1">Aantal bekijkers</p>
                                        <p class="mb-0">{{numberList}}</p>
                                    </div>
                                    <!-- <div class="px-3">
                                        <p class="small text-muted mb-1">Followers</p>
                                        <p class="mb-0">976</p>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>