<!--Bedenk mechanisme voor verversen -->
<div class="container my-3">
    <div>
        <button class="btn mx-1 my-2 p-3" (click)="toggleSortOrder('asc')">Ascending</button>
        <button class="btn mx-1 my-2" (click)="toggleSortOrder('desc')">Descending</button>
        <button class="btn mx-1 my-2" (click)="toggleSortOrder('status')">Status</button>
    </div>
    <h1>Lijst transparante gebruikers</h1>
    <div class="row">
        <div *ngFor="let user of list$ | async; " class="col-lg-4 ">
            <app-user-card [User]="user "></app-user-card>
        </div>
    </div>
</div>