<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="25">
    <form fxLayoutAlign="stretch" fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="UserName" />
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" matInput placeholder="Password" />
      </mat-form-field>
      <button mat-raised-button type="submit">Login</button>
      <p>Are you an admin click on here <a href="sign">sign up</a></p>
    </form>
  </mat-card>
</div>
