.chat-container {
    height: 400px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
}

.media {
    margin-bottom: 20px;
}

.media img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.media-body {
    border-radius: 10px;
    padding: 10px;
}

.media-body h5 {
    margin-bottom: 5px;
}

.user-message {
    text-align: right;
    .media-body {
        background-color: #c7c7c7;
    }
} 

.own-message {
    text-align: right;
    .media-body {
        background-color: #d12179;
    }
} 

.bot-message {
    text-align: left;
    .media-body {
        background-color: #63f863;
    }
}

.moveLeft10 {
    margin-left: 319px;
}

.borderRadiusProfile {
    border-radius: 15px;
    width: 1020px;
    margin-top: -30px;
}
