<div class="container">
    <h1>Chat</h1>
    <div class="chat-container">
        <div class="media user-message">
            <div class="media-body">
                <h5 class="mt-0">User</h5>
                <p>Hello, how can I help you?</p>
            </div>
        </div>
        <div class="media bot-message">
            <div class="media-body">
                <h5 class="mt-0">Bot</h5>
                <p>Here is a response from the bot.</p>
            </div>
        </div>
    </div>
    <div class="chat-box">

        <!-- Chat reageer pagina -->
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Reageer in de chat.</label>
            <textarea [value]="text" (input)="onValueChange($event)" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button class="btn btn-info" (click)="SendMessage()" [disabled]="IsBusy">Klik</button>
        <p>Tekst {{text}}</p>

        <form action="">

        </form>
    </div>

</div>
