<ng-container>
    <div *ngIf="!hasIntegrity">
        <h1 style="color: red">WAARSCHUWING, DE DATA VAN DEZE REQUEST IS NIET INTEGER. HET KAN ZIJN DAT IEMAND DE DATA
            HEEFT VERANDERD</h1>
    </div>
    <section class="vh-100" style="background-color: #9de2ff;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-md-11 col-lg-9 col-xl-7">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-4">
                            <div class="d-flex text-black">
                                <div class="flex-shrink-0">
                                    <div class="img-container">
                                        <span class="helper"></span><img
                                            [src]="user?.base64Image || './assets/img/default-profile-image.png'"
                                            alt="profile picture" class="img-fluid user-img">
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="mb-1">{{user?.userName}}</h5>
                                    <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                                        style="background-color: #efefef;">
                                        <div>
                                            <p class="small text-muted mb-1">Bitconnect Balance</p>
                                            <p class="mb-0">{{user?.balance}}</p>
                                        </div>

                                    </div>
                                    <div class="d-flex pt-1">
                                        <form (ngSubmit)="onSubmit()">
                                            <p>
                                                <label for="Profielfoto">Profielfoto</label>
                                            </p>
                                            <input placeholder="Upload je profielfoto." type="file" id="file"
                                                class="image-uploader" (change)="onSelectFile($event)"
                                                name="Profielfoto" />

                                            <div class="form-group">
                                                <button class="btn btn-lg btn-primary btn-block" type="submit">
                                                    aanpassen
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</ng-container>