.user-img {
    max-width: 180px;
    max-height: 180px;
}

.img-container {
    width: 200px;
    height: 200px;
    vertical-align: center;
    text-align: center;
    display: inline-block;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.image-uploader {
    margin-bottom: 5px;
}

.moveUp30 {
    margin-top: -30px;
}
