<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- Where Chat comes -->
            <div *ngIf="NewStream != undefined" class="viewCountWrapper">
                <!-- <app-chat-stream [HostUserId]="HostId"></app-chat-stream> -->
            </div>
        </div>
        <div class="col-sm-5 col-md-8 col-lg-6">
            <div *ngIf="NewStream != undefined" class="viewCountWrapper">
                <app-streaming-player [HostId]="HostId" [StreamId]="NewStream.id"></app-streaming-player>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div *ngIf="NewStream != undefined" class="viewCountWrapper">
                <!-- <app-view-count [HostId]="HostId" [isStreamer]="false" [StreamId]="NewStream.id"></app-view-count> -->
            </div>
        </div>
    </div>
</div>