<a class="card shadow-sm my-2"
   [style.pointer-events]="User.isOnline ? 'auto' : 'none'"
   [ngClass]="{'greyed-out': !User.isOnline}"
   routerLink="/user/{{User.id}}/stream/current">

    <div class="card-header rounded-0">
        <div class="card-title">
            <h3>{{User.userName}}</h3>
        </div>
    </div>
    <div class="img-container">
        <span class="helper"></span><img [src]="User.base64Image || './assets/img/default-profile-image.png'"
            alt="profile picture" class="img-fluid user-img">
    </div>
    <div class="card-body">
        <span *ngIf=User.isOnline>
            <p>Status: Online <span class="online">●</span></p>
        </span>
        <span *ngIf=!User.isOnline>
            <p>Status: Offline<span class="offline">●</span> </p>
        </span>
        <a class="btn btn-primary">Bekijk stream van {{User.userName}}</a>
    </div>
</a>
